@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.navbar
{
background-color: rgba(7, 7, 7, 0.942);
font-weight: bold;
font-family: 'Times New Roman', Times, serif;
}

body {
        background-repeat: no-repeat;
    background-size: cover;
}

.navbar
{
  background-color: rgba(0, 0, 0, 0.936);
}

.splitl {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    margin-top: 4.1%;
    padding-top: 20px;
  }
 .splitr {
    height: 100%;
    width: 75%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    margin-top: 4.1%;
    padding-top: 1000px;
    margin-left: 1000px;
  }

  .atag{
    text-decoration: none;
    color: aliceblue;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 50px;
  }
  .atag:hover{
    color:#4d8d45;
  }
  
  .left {
    left: 0;
    background-color: rgba(21, 23, 23, 0.942);
  }
  .right {
    right: 0;
  }
  .centered {
    position: absolute;
    top: 47%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: left;
  }

.SubHead{
  font-family: 'Montserrat', sans-serif;
	color:rgb(248, 195, 195);
	font-size:46px;
  padding-left:590px;
  font-weight: bold;
  text-decoration: underline;
}

.login-wrapper {
  height: 50vh;
  width: 100vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-left: 50px;
  padding-bottom: 50px;
}

.form {
  margin-left: 860px;
  margin-top: 570px;
  position: relative;
  width: 480px;
  height: auto;
  padding: 50px 40px 30px 40px;
  background: rgba(37, 35, 35, 0.901);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  display: inline-block;
}


.form h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: white;
}

.form .input-group {
  position: relative;
}
.form .input-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  outline: none;
  background-color: transparent;
  color: inherit;
}
.form .input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease-out;
}
.form .input-group input:focus+label,
.form .input-group input:valid+label {
  transform: translateY(-18px);
  color: white;
  font-size: 0.8rem;
}
.submit-btn {
  display: block;
  margin-left: 50px;
  margin-top:10px;
  border: none;
  outline: none;
  background: #f8705b;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
}

.fields{
        width: 250px;
        height: 30px;
        line-height: 50px;
        margin-left:75px;
}


